{% load static %}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>登录</title>
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="{% static 'js/html5shiv.min.js' %}"></script>
      <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>


<body>
<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <form class='form-login' action="/login/" method="post">

            {% if message %}
                <div class="alert alert-warning">{{ message }}</div>
            {% endif %}
            {% csrf_token %}
            <h2 class="text-center">欢迎登录</h2>
            <div class="form-group">
                {{ login_form.username.label_tag }}
                {{ login_form.username }}
            </div>
            <div class="form-group">
                {{ login_form.password.label_tag }}
                {{ login_form.password }}
            </div>

            <div class="form-group">
                {{ login_form.captcha.errors }}
                {{ login_form.captcha.label_tag }}
                {{ login_form.captcha }}
            </div>

            <button type="reset" class="btn btn-default pull-left">重置</button>
            <button type="submit" class="btn btn-primary pull-right">提交</button>

        </form>
    </div>
</div> <!-- /container -->
<div class="el-login-footer">
      <span>Bss。2022 © By tzw124002</span> |
      <a> 江西电信企业信息化中心渠道支撑室</a>
    </div>
  </div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript">
    //验证码动态刷新实现
$('.captcha').click(function () {
    $.getJSON("/captcha/refresh/", function (result) {
        $('.captcha').attr('src', result['image_url']);
        $('#id_captcha_0').val(result['key'])
    });
});
</script>
<style rel="stylesheet/scss" lang="scss">
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url("{% static 'img/login-background.jpg' %}");
  background-size: cover;
}
.el-login-footer {
  height: 40px;
  line-height: 40px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: Arial;
  font-size: 12px;
  letter-spacing: 1px;
}
.text-center {
  margin: 0px auto 30px auto;
  text-align: center;
  color: #707070;
}


</style>
</body>
</html>